<mat-card style="margin: 2rem;margin-bottom: 5rem;" class="mat-elevation-z8">
    <mat-card-header style=" align-items: center;">
        <span style="margin-right: 1rem;" (click)="onBackClick()">
            <mat-icon>arrow_back</mat-icon>
        </span>
        <span>
            Available vaccines auto refresh
        </span>
        <span style="flex: 1 1 auto;"></span>
        <span *ngIf="!autoReload">
            <button mat-button matTooltip="refresh page" (click)="onRefresh()">
                <mat-icon>refresh</mat-icon>
            </button>
        </span>
        <span style="margin-right: 2rem;"></span>
        <span>
            <mat-slide-toggle [(ngModel)]="autoReload" matTooltip="reload Auto on/off">Auto Reload
            </mat-slide-toggle>
        </span>
        <span style="margin-left: 2rem;">{{counter | formatTime}}</span>
    </mat-card-header>
    <mat-card-content>
        <div class="filter">
            <!-- <mat-form-field appearance="standard">
          <mat-label>Enter Pincode</mat-label>
          <input type="text" matInput [(ngModel)]="pincode" matTooltip="default: 273001">
        </mat-form-field> -->
            <mat-form-field appearance="standard">
                <mat-label>Enter minimum capacity</mat-label>
                <input type="text" matInput [(ngModel)]="capacity" matTooltip="default: 1">
            </mat-form-field>
            <mat-form-field appearance="standard" [matTooltip]="selectedPin">
                <mat-label>filter Pincode</mat-label>
                <mat-select [(ngModel)]="selectedPin" multiple>
                    <mat-option *ngFor="let pin of pincodeList" [value]="pin">{{pin}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z0" style="padding: 0px 13px;">
            <ng-container matColumnDef="vaccine">
                <mat-header-cell *matHeaderCellDef> Vaccine Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.vaccine}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="available_capacity">
                <mat-header-cell *matHeaderCellDef> Available </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.available_capacity}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="min_age_limit">
                <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.min_age_limit}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Center Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef> Center Address </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pincode">
                <mat-header-cell *matHeaderCellDef> Pincode </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pincode}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
    <mat-card-actions style="padding-top: 1rem;" *ngIf="autoReload">
        <button mat-raised-button color="primary" (click)="onAutoReloadStart()" matTooltip="start Auto Reload"
            style="margin: 0px 1rem;">Start</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="warn" (click)="onStop()" matTooltip="stop Auto Reload"
            style="margin: 0px 1rem;">Stop</button>
    </mat-card-actions>
    <mat-card-actions style="padding-top: 1rem;" *ngIf="!autoReload">
        <button mat-raised-button color="primary" (click)="onSearch()" matTooltip="start Auto Reload"
            style="margin: 0px 1rem;">Search</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <button mat-raised-button color="warn" (click)="onStop()" matTooltip="stop Auto Reload"
            style="margin: 0px 1rem;">Stop</button> -->
    </mat-card-actions>
</mat-card>